# Imports

In [9]:
import mysql.connector as connector

In [10]:
connection=connector.connect(user="root",password="pass")
cursor = connection.cursor()
cursor.execute("USE little_lemon_db")

In [11]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('bookings',), ('employees',), ('menuitems',), ('menus',), ('orders',)]

# Query with Join

In [ ]:
join_query = """
SELECT customer.FullName, customer.ContactNumber FROM customer
INNER JOIN orders
ON customer.CustomerID = orders.Customer_CustomerID
WHERE orders.TotalCost > 60
"""
cursor.execute(join_query)